<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon"><i class="fas fa-laugh-wink" id="company-icon"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Louella Bakery</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="/home"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-box"></i><span>Products</span> 
                        </a>
                        <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" role="presentation" href="/productgroup"><i class="fas fa-warehouse"></i><span> Product Groups</span></a>
                            <a class="dropdown-item" role="presentation" href="#"><i class="fas fa-warehouse"></i><span> Products</span></a>
                            <a class="dropdown-item" role="presentation" href="#"><i class="fas fa-warehouse"></i><span> Raw Materials</span></a>
                        </div>
                    </li>                   
                    <li class="nav-item" role="presentation"><a class="nav-link" href=""><i class="fas fa-warehouse"></i><span>Inventory</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href=""><i class="fas fa-recycle"></i><span>Pull Out Products</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href=""><i class="fas fa-chalkboard-teacher"></i><span>Production Orders</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href=""><i class="fas fa-truck-moving"></i><span>Deliveries</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href=""><i class="fas fa-cart-arrow-down"></i><span>Returns</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href=""><i class="fas fa-users"></i><span>Supplier</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href=""><i class="fas fa-list-alt"></i><span>Purchase Orders</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="manageusers.html"><i class="fas fa-folder-plus"></i><span>Manage Users</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href=""><i class="fas fa-poll"></i><span>Sales Records</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href=""><i class="fas fa-money-bill-wave"></i><span>Payroll</span></a></li>
                    
                    <li class="nav-item" role="presentation"><a class="nav-link" href="profile.html"><i class="fas fa-user"></i><span>Profile</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="table.html"><i class="fas fa-table"></i><span>Table</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="login.html"><i class="far fa-user-circle"></i><span>Login</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="register.html"><i class="fas fa-user-circle"></i><span>Register</span></a></li>
                    
                    
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>