{{#each pglist}}

<tr class="clickable" onclick='window.location="/productgroup/view/{{this._id}}"'>
    <td> <img class="mini-pic-list" src="assets/img/icons/avatar2.jpeg"> {{name}}</td>
    <td>{{num_products}}
    </td>
    <td style="max-width:80px; ">
            <button class="btn btn-secondary btn-sm" type="submit">Edit</button>
            <button class="btn btn-primary btn-sm" type="submit">Delete</button>
    </td>
</tr>

{{/each}}