<!--JS remove other-->

<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon"><img class= "sidebar_logo" src="/assets/img/icons/bakery_logo2.png"></div>
                    <div class="sidebar-brand-text mx-3"><span>Louella Bakery</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                 <!--<li class="nav-item" role="presentation"><a id="Dashboard" class="nav-link" href="/home" onclick="activateNav('dashboard')"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>-->
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/inventory-admin"><i class="fas fa-warehouse"></i><span>Inventory</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/productgroup"><i class="fas fa-box"></i><span>Product Groups</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/allproducts"><i class="fas fa-box"></i><span>Products</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/rawmaterials"><i class="fas fa-box"></i><span>Raw Materials</span></a></li>
                    {{!-- <li class="nav-item" role="presentation">
                       <a class="nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-box"></i><span>Products  </span><i class="fas fa-caret-down"></i> </a>
                        <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" role="presentation" href="/productgroup"><i class="fas fa-warehouse"></i><span> Product Groups</span></a>
                            <a class="dropdown-item" role="presentation" href="/allproducts"><i class="fas fa-warehouse"></i><span> Products</span></a>
                            <a class="dropdown-item" role="presentation" href="/rawmaterials"><i class="fas fa-warehouse"></i><span> Raw Materials</span></a>
                        </div>
                    </li>                    --}}
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/pullout-admin"><i class="fas fa-recycle"></i><span>Pull Out Products</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/productionorder"><i class="fas fa-chalkboard-teacher"></i><span>Production Orders</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/delivery"><i class="fas fa-truck-moving"></i><span>Deliveries</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/returns"><i class="fas fa-cart-arrow-down"></i><span>Returns</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/supplier"><i class="fas fa-users"></i><span>Supplier</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/purchaseorder"><i class="fas fa-list-alt"></i><span>Purchase Orders</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/manageusers"><i class="fas fa-folder-plus"></i><span>Manage Users</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href=""><i class="fas fa-poll"></i><span>Point of Sale</span></a></li>
                    <!--<li class="nav-item" role="presentation"><a class="nav-link" href=""><i class="fas fa-money-bill-wave"></i><span>Payroll</span></a></li>-->
                    
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/profile"><i class="fas fa-user"></i><span>Profile</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>