            <div class="container-fluid">
                <h3 class="text-dark mb-1">Product Group</h3>
                <div class="card">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item btn"><a id="tab" class="nav-link active"  onclick="opentab('users')">All Product Groups</a></li>
                                <li class="nav-item btn"><a id="tab" class="nav-link"  onclick="opentab('reguser')">Add Product Group</a></li>
                            <li class="nav-item"></li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body" id="users">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Name  <i class="fa fa-sort"></i></th>
                                        <th>Number of Products  <i class="fa fa-sort"></i></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{>productgroupsTable}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
            
                <div class="card">
                    <div class="card-body" id="reguser" style="display: none;">       
                        <div class="row">
                            <div class="col" id="regform2">
                                <h3 class="regheader">Product Group</h3>
                                <div class="row">
                                    
                                    <div class="col">
                                        <form>
                                            <div class="form-group">
                                                <label>Label</label>
                                                <input type="text" class="form-control" /><br>
                                                
                                            </div>
                                        </form>
                                    </div>
        
                                    <div class="col">
                                        <form>
                                            <div class="form-group">
                                                <label>Label</label>
                                                <input type="text" class="form-control" /><br>
                                                
                                                
                                            </div>
                                        </form>
                                    </div>
                                  </div>
                                  <div class="row">
                                      <div class="col">
                                        <form action="">
                                            <div class="form-group">
                                                <label for="">Description</label>
                                                <textarea class="form-control" name="" id="" cols="30" rows="6"></textarea>
                                            </div>
                                        </form>
                                      </div>
                                  </div>
        
                                  <div class="row">
                                    <div class="col">
                                      <form action="">
                                          <div class="form-group">
                                              <label for="cars">Label</label>
                                                    <select id="cars" name="cars" class="form-control">
                                                        <option value="volvo">Volvo</option>
                                                        <option value="saab">Saab</option>
                                                        <option value="fiat">Fiat</option>
                                                        <option value="audi">Audi</option>
                                                    </select><br>
                                          </div>
                                      </form>
                                    </div>
                                    <div class="col">
                                        <form action="">
                                            <div class="form-group">
                                                <label for="cars">Label</label>
                                                      <select id="cars" name="cars" class="form-control">
                                                          <option value="volvo">Volvo</option>
                                                          <option value="saab">Saab</option>
                                                          <option value="fiat">Fiat</option>
                                                          <option value="audi">Audi</option>
                                                      </select><br>
                                            </div>
                                        </form>
                                      </div>
                                </div>
                            </div>
                            <div class="col-md-6" id="prof-pic-card">
                                <form class="up_profpic">
                                  <div >
                                    <img class="rounded-circle mb-3 mt-4" src="assets/img/dogs/image2.jpeg" id="prof-pic-cont" />
                                    <div class="mb-3" style="margin-top: 1.5rem;">
                                        <button class="btn btn-primary btn-sm" type="button">Change Photo</button>
                                    </div>
                                  </div> 
                                </form>
                            </div>
                        </div>
                        
                        <div class="table-responsive table mt-2" id="regproductlist">
                            <div class="col">
                                <table class="table my-0" id="dataTable">
                                    <thead>
                                        <tr class="tr-addproducts">
                                            <th>#</th>
                                            <th>Product ID</th>
                                            <th>Product Name</th>
                                            <th>Cost Price</th>
                                            <th>Selling Price</th>
                                            <th>SKU</th>
                                            <th>Reorder Point</th>
                                            <th>Image</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        <tr>
                                            <td class="td-num-addproducts">1</td>
                                            <td> <input type="text" class="form-control" placeholder="Product ID"> </td>
                                            <td> <input type="text" class="form-control" placeholder="Product Name"> </td>
                                            <td> <input type="text" class="form-control" placeholder="Cost Price"> </td>
                                            <td> <input type="text" class="form-control" placeholder="Selling Price"> </td>
                                            <td> <input type="text" class="form-control" placeholder="SKU"> </td>
                                            <td> <input type="text" class="form-control" placeholder="Reorder Point"> </td>
                                            <td> <input type="text" class="form-control" placeholder="Image"> </td>                                    
                                        </tr>
                                        
                                    </tbody>
                                    <tfoot>
                                        
                                    </tfoot>
                                </table>
                                <div class="row">
                                    <div class="col">
                                        <label for="" style="margin-left: 20px;"><i>icon </i> Add Product</label>
                                    </div>
                                </div>
                            </div>
                            
        
                        </div>
                        
                        
                        
        
                        <div class="row" style="margin-top: 2rem;">
                            
                            <div class="col">
                                <div class="text-md-center dataTables_filter" id="dataTable_filter">
                                    <label>
                                        <button class="btn btn-secondary btn-sm" type="submit">Cancel</button>
                                        <button class="btn btn-primary btn-sm" type="submit">Add</button>
                                    </label>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>