        <div class="d-flex flex-column" id="content-wrapper">
            <div class="container-fluid">
                <h3 class="text-dark mb-1">All Products</h3>
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-dark mb-1">Product Information</h2>
                    </div>
                </div>
            
                <div class="card">
                    <div class="card-body" id="reguser">       
                        <div class="row">
                            <div class="col" >
                                <h3 class="regheader">Jimmy Breads</h3>
                                <div class="row">
                                    
                                    <div class="col">
                                        <form>
                                            <div class="form-group">
                                                <label>Name</label>
                                                <p>Pandesal</p>
                                                
                                            </div>
                                        </form>
                                    </div>
        
                                    <div class="col">
                                        <form>
                                            <div class="form-group">
                                                <label>Product Group ID</label>
                                                <p>PG-KB-00123</p>
                                                
                                                
                                            </div>
                                        </form>
                                    </div>
                                  </div>
                                  <div class="row">
                                      <div class="col">
                                        <form action="">
                                            <div class="form-group">
                                                <label for="">Description</label>
                                                <p>Cheap af</p>
                                            </div>
                                        </form>
                                      </div>
                                  </div>
        
                                  <div class="row">
                                    <div class="col">
                                      <form action="">
                                          <div class="form-group">
                                            <label>UOM</label>
                                            <p>Piece/s</p>
                                          </div>
                                      </form>
                                    </div>
                                    <div class="col">
                                        <form action="">
                                            <div class="form-group">
                                                <label>Taxibility</label>
                                                <p>Non-taxable</p>
                                                
                                            </div>
                                        </form>
                                      </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <form class="product-pic">
                                  <div >
                                    <img class="" src="assets/img/dogs/image2.jpeg" id="product-pic" />
                                    
                                  </div> 
                                </form>
                            </div>
                        </div>
                        
                        <div class="table-responsive table mt-2" id="productlist">
                            <div class="col">
                                <table class="table my-0" id="dataTable">
                                    <thead>
                                        <tr class="tr-addproducts">
                                            <th>Raw Materials</th>
                                            <th>Quantity</th>
                                            <th>Cost Price</th>
                                            <th>Total Price</th>
                                            <th>Stock on hand</th>
                                            <th>Reorder Pt.</th>
                                            <th><span>  </span></th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        <tr class="clickable" onclick='window.location="product-group-card-jimmy.html"'>
                                            <td><i>☺</i> Ensaymada </td>
                                            <td> 10.0</td>
                                            <td> 8.73 </td>
                                            <td> 100.0 </td>
                                            <td> 100.0 </td>
                                            <td> 100.0 </td>
                                            <td> icon </td>
                                        </tr>

                                        <tr class="clickable" onclick='window.location="product-group-card-jimmy.html"'>
                                            <td><i>☺</i> Pandesal </td>
                                            <td> 10.0</td>
                                            <td> 8.73 </td>
                                            <td> 100.0 </td>
                                            <td> 100.0 </td>
                                            <td> 100.0 </td>
                                            <td> icon </td>
                                        </tr>

                                        <tr class="clickable" onclick='window.location="product-group-card-jimmy.html"'>
                                            <td><i>☺</i> Spanish Bread </td>
                                            <td> 10.0</td>
                                            <td> 8.73 </td>
                                            <td> 100.0 </td>
                                            <td> 100.0 </td>
                                            <td> 100.0 </td>
                                            <td> icon </td>
                                        </tr>
                                        
                                    </tbody>
                                    <tfoot>
                                        
                                    </tfoot>
                                </table>
                                <div class="row">
                                    <div class="col">
                                        <label for="" style="margin-left: 20px; margin-top: .5rem;"><i>+icon </i> Add Product</label>
                                    </div>
                                </div>
                            </div>
                            
        
                        </div>
                        
                        
                        
        
                        
                    </div>
                </div>
            </div>
        </div>
 