        <div class="container-fluid">
            <h3 class="text-dark mb-1">Raw Materials</h3>
            <div class="card">
                <div class="card-header">

                    <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#rawmaterials">All Products</a>
                            </li>

                            <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#add_rawmaterial">Add Product</a>
                            </li>

                            </ul>

                </div>

                <div class="tab-content">
                    {{!-- ALL RAW MATERIALS --}}
                <div class="container tab-pane active" id="rawmaterials" style="padding-top: 30px;">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name  <i class="fa fa-sort"></i></th>
                                    <th>SKU </th>
                                    <th>Stock on Hand</th>
                                    <th>Cost Price</th>
                                    <th>Reorder Pt.</th>
                                </tr>
                            </thead>
                            <tbody>
                                TABLE
                            </tbody>
                        </table>
                    </div>
                </div>
                {{!-- END OF RAW MATERIALS --}}

                {{!-- ADD RAW MATERIALS --}}

                <div class="container tab-pane fade" id="add_rawmaterial" style="padding-top: 30px;">       
                    <div class="row">
                        <div class="col" id="regform2">
                            <h3 class="regheader">Raw Materials</h3>
                            <form> 
                                <div class="row">
                                    <div class="col">
                                        {{!-- Start form --}}
                                            <div class="form-group">
                                                {{!-- Raw Material Name --}}
                                                <label>Name</label>
                                                <input name="name" type="text" class="form-control" /><br>
                                            </div>
                                    </div>
                                    <div class="col">
                                            <div class="form-group">
                                                 {{!-- Raw Material ID --}}
                                                <label>Raw Material ID</label>
                                                <input name="RawMaterialID" type="text" class="form-control" /><br>
                                            </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            {{!-- Description --}}
                                            <label for="">Description</label>
                                            <textarea name="description" class="form-control" name="" id="" cols="30" rows="6"></textarea>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="cars">UOM</label>
                                                <select id="cars" name="UOM" class="form-control">
                                                    <option value="volvo">uom1</option>
                                                    <option value="saab">uom2</option>
                                                    <option value="fiat">uom3</option>
                                                    <option value="audi">uom4</option>
                                                </select><br>
                                        </div>
                                    </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="cars">SKU</label>
                                            <select id="cars" name="sku" class="form-control">
                                                <option value="volvo">1</option>
                                                <option value="saab">2</option>
                                                <option value="fiat">3</option>
                                                <option value="audi">4</option>
                                            </select><br>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="cars">Cost Price</label>
                                            <input name="cost" type="number" class="form-control" /><br>
                                        </div>
                                    </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="cars">Reorder Point</label>
                                        <input name="reorder" type="number" class="form-control" /><br>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="cars">Reorder Point UOM</label>
                                        <select id="cars" name="UOM" class="form-control">
                                                    <option value="volvo">uom1</option>
                                                    <option value="saab">uom2</option>
                                                    <option value="fiat">uom3</option>
                                                    <option value="audi">uom4</option>
                                                </select><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" id="prof-pic-card"> <!--UPLOAD PHOTO-->
                                <div class="up_profpic">
                                    <img class="rounded-circle mb-3 mt-4" src="assets/img/dogs/image2.jpeg" id="prof-pic-cont" />

                                    <div class="mb-3" style="margin-top: 1.5rem;">
                                        <button class="btn btn-primary btn-sm" type="button">Change Photo</button>
                                    </div>
                                </div> 
                        </div>
                    </div>

                    <br>
                    
                    <div class="row" style="margin-top: 2rem;">
                        <div class="col">
                            <div class="text-md-center dataTables_filter" id="dataTable_filter">
                                <label>
                                    <button class="btn btn-secondary btn-sm" type="submit">Cancel</button>
                                    <button class="btn btn-primary btn-sm" type="submit">Add</button>
                                </label>
                            </div>
                        </div>
                    </div> 
                    {{!-- END OF ADD CANCEL --}} 
                </form>

            </div>
            {{!-- END OF ADD PRODUCT --}} 
        </div>
        {{!-- END TAB CONTENT --}} 

    </div>
        
</div>
